* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.inline-block {
    vertical-align:top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav{
    width: 73%;
    padding: 1%;
}

ul{
    width: 50;
    margin-left: auto;
}

.hero{
    height: 600px;
    padding: 25px;
}

.content{
    width: 500px;
    margin: 0 auto;
}

.footer{
    background-color: #373738;
    padding: center;
}

.footer ul{
    display:inline-block;
    vertical-align:top;
}

.footer ul li{
    padding:center;
}